<a href="https://colab.research.google.com/github/shruthika77/python-projects/blob/main/store_employee_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
class employee:
  count=0
  def __init__(self,name,age,salary):
   self.name=name
   self.age=age
   self.salary=salary
   employee.count+=1
  def displaycount(self):
    print("There is a %d employees " % employee.count)
  def display_detials(self):
    print("NAME=",self.name, "AGE=",self.age, "SALARY=",self.salary)
emp1=employee("employee1",45,50000)

emp3=employee("employee2", 23,45000)
emp4=employee("employee 3",56,60000)
emp4.displaycount()
print("employee informations")
emp1.display_detials()

emp3.display_detials()
emp4.display_detials()

There is a 3 employees
employee informations
NAME= employee1 AGE= 45 SALARY= 50000
NAME= employee2 AGE= 23 SALARY= 45000
NAME= employee 3 AGE= 56 SALARY= 60000